.title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;

}
.list{list-style: none;}
.item{
    margin-bottom: 15px;
}
.name{
    font-size: 18px;
    font-weight: bold; text-decoration: none;}

.name:hover,
.name:focus {
    color: black;
}

.deleteBtn{
    margin-left: 15px;
    border-radius: 50%;
}